 .logotext {
      font-family: cookie;
      font-size: 3.1em;
      font-weight: 300;
      padding-top: 8px;
      color: black;

      }
.navbar .brand {

  color: #333333;
}
ß
  

}
#bg {
  
  top: 0; 
  left: 0; 
  
 
}